{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  <div class="languages-container container-block">

    <h2 class="container-block-title">
      2023 open to work 👁️‍🗨️
    </h2>
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="degree">Job titles</h3>
        </div><!--//upper-row-->
        <div class="university">Developer · iOS Developer · iOS Developer · Application Developer · Mobile Manager</div>
      </div><!--//meta-->
    </div><!--//item-->
    <br/>
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="degree">Workplaces</h3>
        </div><!--//upper-row-->
        <div class="university">On-site · Hybrid</div>
      </div><!--//meta-->
    </div><!--//item-->
    <br/>
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="degree">Job locations (On-site)</h3>
        </div><!--//upper-row-->
        <div class="university">Taipei City, Taiwan</div>
      </div><!--//meta-->
    </div><!--//item-->
    <br/>
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="degree">Start date</h3>
        </div><!--//upper-row-->
        <div class="university">Flexible, I’m casually browsing</div>
      </div><!--//meta-->
    </div><!--//item-->
    <br/>
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="degree">Job types</h3>
        </div><!--//upper-row-->
        <div class="university">Full-time</div>
      </div><!--//meta-->
    </div><!--//item-->
  </div><!--//interests-->

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
